name: Build PKGBUILDs

on:
  schedule:
    - cron: "*/10 * * * *"  # Run every 10 minutes
  push:
    branches:
      - main

jobs:
  update-pkgbuilds:
    runs-on: ubuntu-latest
    container: archlinux
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Update repositories
        run: pacman -Syu --noconfirm --noprogressbar --needed base-devel devtools sudo git jq
      - name: Configure Chaotic AUR
        run: |
          pacman-key --init
          pacman-key --recv-key FBA220DFC880C036 --keyserver keyserver.ubuntu.com
          pacman-key --lsign-key FBA220DFC880C036
          pacman -U 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-keyring.pkg.tar.zst' 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-mirrorlist.pkg.tar.zst' --noconfirm
          echo "
          [chaotic-aur]
          Include = /etc/pacman.d/chaotic-mirrorlist" >> /etc/pacman.conf
      - name: Install paru
        run: pacman -Syu --noconfirm --noprogressbar --needed paru
      - name: Clone repository
        run: git clone https://github.com/Nathan-MV/arch-repo
      - name: Execute shell script
        run: |
          cd arch-repo
          chmod +x update-arch-packages.sh
          ./update-arch-packages.sh
